body {
  background: #6b7785;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.game-wrapper {
  position: relative;
}

canvas {
  border: 3px solid red;
  background-image: url(game_bg.jpg);
}

#gameOverUI {
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 300px;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-family: monospace;
}

#gameOverUI button {
  margin-top: 10px;
  padding: 8px 20px;
  font-size: 16px;
  cursor: pointer;
}
