* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #78b7e6;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.game-wrapper {
  position: fixed;
  inset: 0;
}

/* Canvas */
canvas {
  width: 100vw;
  height: 100vh;
  display: block;
  background: linear-gradient(
    #78b7e6 65%,
    #2e7d32 65%
  );
}

/* GAME OVER UI */
#gameOverUI {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  z-index: 10;
  padding: ;
}

#gameOverUI h2 {
  font-size: 34px;
  /* margin-bottom: 8px; */
}

#gameOverUI p {
  font-size: 18px;

}

#restartBtn {
  padding: 14px 36px;
  border-radius: 30px;
  border: none;
  background: #ff4d4d;
  color: #fff;
  font-size: 16px;
}

/* Instagram Button */
.insta-btn {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 48px;
  height: 48px;
  background: #e1306c;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.insta-btn img {
  width: 22px;
}
